body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#menu {
position: absolute;
width: 190px;
height: 300px;
}

#map {
position: absolute;
left: 190px;
height: 98%;
width: 85%;
}
